In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [2]:
import functions

### Worthy mentions for column data:
- From 1960 to 1966 there were two drafts. the AFL redshirt draft and the NFL draft, as they were separate leagues before all merging into the NFL.
    - This means for 1966 the draft data has both draft informations in the draft info column. First is AFL, second is NFL.
- Washington has 100+ players in 1987 as there was a league-wide player 'lockout' (a.k.a. strike), meaning players were signed to play temporarily in the in-season games while the lockout was going on.
- Salary was only recently introduced as a column, so not much data for aggregated dataset.
- approx value is something calculated by pro-football-reference

##### These datasets were made available by https://www.pro-football-reference.com/

In [3]:
# looking at files for SB-winning rosters per year
!ls ../data/raw/rosters

1966_greenbay_1966.csv       1995_dallas_roster.csv
1967_greenbay_roster.csv     1996_greenbay_roster.csv
1968_newyorkj_roster.csv     1997_denver_roster.csv
1969_kansas_roster.csv       1998_denver_roster.csv
1970_baltimore_roster.csv    1999_stlouis_roster.csv
1971_dallas_roster.csv       2000_baltimore_roster.csv
1972_miami_roster.csv        2001_newengland_roster.csv
1973_miami_roster.csv        2002_tampa_roster.csv
1974_pittsburgh_roster.csv   2003_newengland_roster.csv
1975_pittsburgh_roster.csv   2004_newengland_roster.csv
1976_oakland_roster.csv      2005_pittsburgh_roster.csv
1977_dallas_roster.csv       2006_indiapolis_roster.csv
1978_pittsburgh_roster.csv   2007_newyork_roster.csv
1979_pittsburgh_roster.csv   2008_pittsburgh_roster.csv
1980_oakland_roster.csv      2009_neworleans_roster.csv
1982_washington_roster.csv   2010_greenbay_roster.csv
1983_oakland_roster.csv      2011_newyork_roster.csv
1984_sanfrancisco_roster.csv 2012_baltimore_roster.csv
1985_chicago_roster.csv      2013_seattle_roster.csv
1986_newyork_roster.csv      2014_newengland_roster.csv
1987_washington_roster.csv   2015_denver_roster.csv
1988_sanfrancisco_roster.csv 2016_newengland_roster.csv
1989_sanfrancisco_roster.csv 2017_philadelphia_roster.csv
1990_newyork_roster.csv      2018_newengland_roster.csv
1991_washington_roster.csv   2019_kansas_roster.csv
1992_dallas_roster.csv       2020_tampa_roster.csv
1993_dallas_roster.csv       2021_la_roster.csv
1994_sanfran_roster.csv      2022_kansas_roster.csv

In [4]:
# Defining path to folder with roster files
path = '../data/raw/rosters/'

In [5]:
csv_files = glob.glob(os.path.join(path, '*.csv'))
csv_files
# 56 files in folder

['../data/raw/rosters/2022_kansas_roster.csv',
 '../data/raw/rosters/2009_neworleans_roster.csv',
 '../data/raw/rosters/2010_greenbay_roster.csv',
 '../data/raw/rosters/1992_dallas_roster.csv',
 '../data/raw/rosters/1975_pittsburgh_roster.csv',
 '../data/raw/rosters/1990_newyork_roster.csv',
 '../data/raw/rosters/1970_baltimore_roster.csv',
 '../data/raw/rosters/2016_newengland_roster.csv',
 '../data/raw/rosters/1977_dallas_roster.csv',
 '../data/raw/rosters/1967_greenbay_roster.csv',
 '../data/raw/rosters/1993_dallas_roster.csv',
 '../data/raw/rosters/2014_newengland_roster.csv',
 '../data/raw/rosters/1984_sanfrancisco_roster.csv',
 '../data/raw/rosters/1996_greenbay_roster.csv',
 '../data/raw/rosters/1997_denver_roster.csv',
 '../data/raw/rosters/1988_sanfrancisco_roster.csv',
 '../data/raw/rosters/2017_philadelphia_roster.csv',
 '../data/raw/rosters/2004_newengland_roster.csv',
 '../data/raw/rosters/1971_dallas_roster.csv',
 '../data/raw/rosters/1979_pittsburgh_roster.csv',
 '../data/raw/rosters/2005_pittsburgh_roster.csv',
 '../data/raw/rosters/1995_dallas_roster.csv',
 '../data/raw/rosters/2020_tampa_roster.csv',
 '../data/raw/rosters/1986_newyork_roster.csv',
 '../data/raw/rosters/1982_washington_roster.csv',
 '../data/raw/rosters/2018_newengland_roster.csv',
 '../data/raw/rosters/1985_chicago_roster.csv',
 '../data/raw/rosters/2012_baltimore_roster.csv',
 '../data/raw/rosters/2006_indiapolis_roster.csv',
 '../data/raw/rosters/1974_pittsburgh_roster.csv',
 '../data/raw/rosters/1983_oakland_roster.csv',
 '../data/raw/rosters/2008_pittsburgh_roster.csv',
 '../data/raw/rosters/2001_newengland_roster.csv',
 '../data/raw/rosters/2019_kansas_roster.csv',
 '../data/raw/rosters/2007_newyork_roster.csv',
 '../data/raw/rosters/1973_miami_roster.csv',
 '../data/raw/rosters/2003_newengland_roster.csv',
 '../data/raw/rosters/1976_oakland_roster.csv',
 '../data/raw/rosters/1991_washington_roster.csv',
 '../data/raw/rosters/1987_washington_roster.csv',
 '../data/raw/rosters/2002_tampa_roster.csv',
 '../data/raw/rosters/1969_kansas_roster.csv',
 '../data/raw/rosters/1994_sanfran_roster.csv',
 '../data/raw/rosters/2000_baltimore_roster.csv',
 '../data/raw/rosters/1980_oakland_roster.csv',
 '../data/raw/rosters/1968_newyorkj_roster.csv',
 '../data/raw/rosters/1998_denver_roster.csv',
 '../data/raw/rosters/1978_pittsburgh_roster.csv',
 '../data/raw/rosters/1999_stlouis_roster.csv',
 '../data/raw/rosters/2021_la_roster.csv',
 '../data/raw/rosters/1972_miami_roster.csv',
 '../data/raw/rosters/2015_denver_roster.csv',
 '../data/raw/rosters/2011_newyork_roster.csv',
 '../data/raw/rosters/1989_sanfrancisco_roster.csv',
 '../data/raw/rosters/2013_seattle_roster.csv',
 '../data/raw/rosters/1966_greenbay_1966.csv']

In [6]:
# Creating empty master_df to append all roster data into with files from folder
master_df = pd.DataFrame()

In [7]:
# iterate through all files in folder, read them into a df, insert two new columns after df creation with year and team city.
# Then append this df into the master_df to allow for easier aggregation later. 
# Year and team city taken from file path name.

for i in range(0,len(csv_files)):
    f = csv_files[i]
    team = csv_files[i].split('/')[-1].split('_')[1]
    year = csv_files[i].split('/')[-1].split('_')[0]

      
    # read the csv file 
    df = pd.read_csv(f)
    df.insert(0, column='Year', value=year)
    df.insert(1, column='Team', value=team)
    master_df = pd.concat([master_df, df], ignore_index=True)

In [8]:
# Getting master_df column names
master_df.columns

Index(['Year', 'Team', 'No.', 'Player', 'Age', 'Pos', 'G', 'GS', 'Wt', 'Ht',
       'College/Univ', 'BirthDate', 'Yrs', 'AV', 'Drafted (tm/rnd/yr)',
       'Player-additional', 'Salary'],
      dtype='object')

In [9]:
# Renaming df column names to something more understandable

master_df.columns = ['year', 'team', 'no.', 'player', 'age', 'position', 'games_played', 'games_started', 'weight', 'height',
       'college', 'date_of_birth', 'years_in_league', 'approx_value', 'drafted_(tm/rnd/pick/yr)',
       'player_additional', 'salary']

In [10]:
display(master_df.head())
display(master_df.tail())

,year,team,no.,player,age,position,games_played,games_started,weight,height,college,date_of_birth,years_in_league,approx_value,drafted_(tm/rnd/pick/yr),player_additional,salary
0,2022,kansas,73.0,Nick Allegretti,26.0,G,17,3.0,310.0,6-4,Illinois,4/21/1996,3,3.0,Kansas City Chiefs / 7th / 216th pick / 2019,AlleNi00,NaN
1,2022,kansas,32.0,Ugo Amadi,25.0,S,1,0.0,201.0,5-9,Oregon,5/16/1997,3,0.0,Seattle Seahawks / 4th / 132nd pick / 2019,AmadUg00,NaN
2,2022,kansas,19.0,Matt Ammendola,26.0,K,2,0.0,195.0,5-9,Oklahoma St.,12/11/1996,1,0.0,NaN,AmmeMa00,NaN
3,2022,kansas,39.0,Zayne Anderson,25.0,DB,3,0.0,206.0,6-2,BYU,1/3/1997,1,0.0,NaN,AndeZa02,NaN
4,2022,kansas,81.0,Blake Bell,31.0,TE,3,1.0,252.0,6-6,Oklahoma,8/7/1991,7,0.0,San Francisco 49ers / 4th / 117th pick / 2015,BellBl00,NaN

,year,team,no.,player,age,position,games_played,games_started,weight,height,college,date_of_birth,years_in_league,approx_value,drafted_(tm/rnd/pick/yr),player_additional,salary
3210,1966,greenbay,37.0,Phil Vandersea,23.0,LB,14,0.0,245.0,6-3,Massachusetts,2/25/1943,Rook,4.0,Denver Broncos / 9th / 65th pick / 1965 Green ...,VandPh20,NaN
3211,1966,greenbay,73.0,Jim Weatherwax,23.0,DT,14,1.0,260.0,6-7,West Texas A&MLos Angeles St.,1/9/1943,Rook,2.0,San Diego Chargers / 5th / 38th pick / 1965 Gr...,WeatJi22,NaN
3212,1966,greenbay,24.0,Willie Wood,30.0,SS,14,14.0,190.0,5-10,USC,12/23/1936,6,12.0,NaN,WoodWi00,NaN
3213,1966,greenbay,72.0,Steve Wright,24.0,T,14,0.0,250.0,6-6,Alabama,7/17/1942,2,4.0,New York Jets / 8th / 59th pick / 1964 Green B...,WrigSt20,NaN
3214,1966,greenbay,NaN,Team Total,27.6,NaN,14,NaN,225.2,6-2.5,NaN,NaN,4.8,NaN,NaN,-9999,NaN

In [11]:
# change years_in_league_value from Rook to 0 (Rook means first year in the league)

master_df['years_in_league'] = np.where(master_df['years_in_league'] == "Rook", 0, master_df['years_in_league'])

In [12]:
# Dropping aggregated rows per roster file (last row with many NaNs). Equates to 56 rows.
master_df = master_df.loc[master_df['player_additional'] != '-9999']

In [13]:
# Filling na values in draft column with 'Undrafted'
master_df['drafted_(tm/rnd/pick/yr)'] = master_df['drafted_(tm/rnd/pick/yr)'].fillna('Undrafted')

In [14]:
master_df[['drafted_team/undrafted', 'drafted_round', 'drafted_pick', 'drafted_year']] = master_df['drafted_(tm/rnd/pick/yr)'].str.split('/', expand=True).iloc[:, :4]

In [15]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3159 entries, 0 to 3213
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      3159 non-null   object
 1   team                      3159 non-null   object
 2   no.                       3159 non-null   float64
 3   player                    3159 non-null   object
 4   age                       3159 non-null   float64
 5   position                  3159 non-null   object
 6   games_played              3159 non-null   int64
 7   games_started             3158 non-null   float64
 8   weight                    3159 non-null   float64
 9   height                    3159 non-null   object
 10  college                   3153 non-null   object
 11  date_of_birth             3159 non-null   object
 12  years_in_league           3159 non-null   object
 13  approx_value              3155 non-null   float64
 14  drafted_(tm/rnd/pick/yr)  3159 non-null   object
 15  player_additional         3159 non-null   object
 16  salary                    110 non-null    object
 17  drafted_team/undrafted    3159 non-null   object
 18  drafted_round             2442 non-null   object
 19  drafted_pick              2441 non-null   object
 20  drafted_year              2441 non-null   object
dtypes: float64(5), int64(1), object(15)
memory usage: 543.0+ KB

In [16]:
# Cast year as an int

master_df['year'] = master_df['year'].astype(int)

# to convert height into float would need to convert to cm from ft. 
# cast years_in_league as int

master_df['years_in_league'] = master_df['years_in_league'].astype(int)

# cast date_of_birth as datetime

master_df['date_of_birth'] = pd.to_datetime(master_df['date_of_birth'])

# Should fill na values for drafted_round, drafted_pick and drafted_year

In [17]:
pd.to_datetime(master_df['date_of_birth'])

0      1996-04-21
1      1997-05-16
2      1996-12-11
3      1997-01-03
4      1991-08-07
          ...
3209   1933-12-29
3210   1943-02-25
3211   1943-01-09
3212   1936-12-23
3213   1942-07-17
Name: date_of_birth, Length: 3159, dtype: datetime64[ns]

In [18]:
master_df.describe()

,year,no.,age,games_played,games_started,weight,date_of_birth,years_in_league,approx_value
count,3159.000000,3159.000000,3159.000000,3159.000000,3158.000000,3159.000000,3159,3159.000000,3155.000000
mean,1996.068693,53.650206,26.797404,11.834125,6.032932,236.031339,1969-10-06 11:33:20,3.843621,4.548336
min,1966.000000,1.000000,21.000000,0.000000,0.000000,154.000000,1930-05-07 00:00:00,0.000000,-1.000000
25%,1983.000000,30.000000,24.000000,9.000000,0.000000,203.000000,1956-12-29 12:00:00,1.000000,1.000000
50%,1997.000000,55.000000,26.000000,14.000000,3.000000,230.000000,1969-12-15 00:00:00,3.000000,3.000000
75%,2010.000000,77.000000,29.000000,16.000000,14.000000,261.500000,1983-11-28 00:00:00,6.000000,7.000000
max,2022.000000,99.000000,45.000000,17.000000,17.000000,370.000000,2001-04-03 00:00:00,21.000000,25.000000
std,16.207334,26.974048,3.440913,4.884709,6.478066,41.074747,NaN,3.450672,4.543574

In [19]:
master_df.isna().sum()

year                           0
team                           0
no.                            0
player                         0
age                            0
position                       0
games_played                   0
games_started                  1
weight                         0
height                         0
college                        6
date_of_birth                  0
years_in_league                0
approx_value                   4
drafted_(tm/rnd/pick/yr)       0
player_additional              0
salary                      3049
drafted_team/undrafted         0
drafted_round                717
drafted_pick                 718
drafted_year                 718
dtype: int64

In [20]:
positional_groups = {'offensive_line':['LT', 'T', 'LG', 'G', 'C', 'RG', 'RT', 'ROT'], 'receiver':['WR', 'TE','SE', 'FL'],
                    'running_backs':['RB', 'HB', 'TB', 'FB', 'LH,' 'RH', 'BB' 'B', 'WB'], 'special_teamers':[ 'LS', 'K', 'P', 'PR', 'KR', 'RET'],
                    'defensive_line':['DL', 'E', 'LE', 'RE', 'LDE', 'DE', 'LDT', 'DT', 'NT', 'MG' , 'DG', 'RDT', 'RDE'], 
                    'linebacker':['LOLB', 'RUSH', 'OLB', 'LLB', 'WILL', 'ILB', 'SLB', 'MLB', 'WLB', 'RILB', 'ROLB', 'SAM', 'LB'],
                    'defensive_backs':['LCB', 'CB', 'RCB', 'SS', 'FS', 'LDH', 'RDH', 'S', 'RS', 'DB'],
                    'Quarterback':['QB']}

def get_position(row):
    for position, positions_list in positional_groups.items():
        if any(pos in row['position'] for pos in positions_list):
            return position
    return None
master_df['positional_group'] = master_df.apply(get_position, axis=1)

In [21]:
master_df

,year,team,no.,player,age,position,games_played,games_started,weight,height,...,years_in_league,approx_value,drafted_(tm/rnd/pick/yr),player_additional,salary,drafted_team/undrafted,drafted_round,drafted_pick,drafted_year,positional_group
0,2022,kansas,73.0,Nick Allegretti,26.0,G,17,3.0,310.0,6-4,...,3,3.0,Kansas City Chiefs / 7th / 216th pick / 2019,AlleNi00,NaN,Kansas City Chiefs,7th,216th pick,2019,offensive_line
1,2022,kansas,32.0,Ugo Amadi,25.0,S,1,0.0,201.0,5-9,...,3,0.0,Seattle Seahawks / 4th / 132nd pick / 2019,AmadUg00,NaN,Seattle Seahawks,4th,132nd pick,2019,defensive_backs
2,2022,kansas,19.0,Matt Ammendola,26.0,K,2,0.0,195.0,5-9,...,1,0.0,Undrafted,AmmeMa00,NaN,Undrafted,None,None,None,special_teamers
3,2022,kansas,39.0,Zayne Anderson,25.0,DB,3,0.0,206.0,6-2,...,1,0.0,Undrafted,AndeZa02,NaN,Undrafted,None,None,None,defensive_backs
4,2022,kansas,81.0,Blake Bell,31.0,TE,3,1.0,252.0,6-6,...,7,0.0,San Francisco 49ers / 4th / 117th pick / 2015,BellBl00,NaN,San Francisco 49ers,4th,117th pick,2015,offensive_line
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3209,1966,greenbay,63.0,Fuzzy Thurston,33.0,LG,12,12.0,247.0,6-1,...,8,6.0,Philadelphia Eagles / 5th / 54th pick / 1956,ThurFu20,NaN,Philadelphia Eagles,5th,54th pick,1956,offensive_line
3210,1966,greenbay,37.0,Phil Vandersea,23.0,LB,14,0.0,245.0,6-3,...,0,4.0,Denver Broncos / 9th / 65th pick / 1965 Green ...,VandPh20,NaN,Denver Broncos,9th,65th pick,1965 Green Bay Packers,linebacker
3211,1966,greenbay,73.0,Jim Weatherwax,23.0,DT,14,1.0,260.0,6-7,...,0,2.0,San Diego Chargers / 5th / 38th pick / 1965 Gr...,WeatJi22,NaN,San Diego Chargers,5th,38th pick,1965 Green Bay Packers,offensive_line
3212,1966,greenbay,24.0,Willie Wood,30.0,SS,14,14.0,190.0,5-10,...,6,12.0,Undrafted,WoodWi00,NaN,Undrafted,None,None,None,defensive_backs
3213,1966,greenbay,72.0,Steve Wright,24.0,T,14,0.0,250.0,6-6,...,2,4.0,New York Jets / 8th / 59th pick / 1964 Green B...,WrigSt20,NaN,New York Jets,8th,59th pick,1964 Green Bay Packers,offensive_line

### Team Conference table & merging

In [22]:
# import data to match conference and team
data_team_conf = pd.read_csv('../data/raw/basic_college_football_stats_raw.csv')

In [23]:
#call function
team_conference = functions.create_team_conference_df(data_team_conf)
team_conference

               team_name  conference_name
0              tennessee              sec
1             washington           pac-12
2    southern california           pac-12
3                   ucla           pac-12
4                georgia              sec
..                   ...              ...
126              rutgers          big ten
127             colorado           pac-12
128        massachusetts  fbs independent
129                 iowa          big ten
130           new mexico    mountain west

[131 rows x 2 columns]

In [24]:
# manual adding of additional team name mapping
team_conference['team_name_matched'] = team_conference['team_name'].replace({'southern california': 'usc', 'ole miss': 'mississippi', 'boston college': 'boston col.'
    ,'nc state': 'north carolina st.', 'ucf': 'central florida', 'central mich.': 'central michigan',
        'eastern mich.':  'eastern michigan'
        })

In [25]:
team_conference.head()

             team_name conference_name team_name_matched
0            tennessee             sec         tennessee
1           washington          pac-12        washington
2  southern california          pac-12               usc
3                 ucla          pac-12              ucla
4              georgia             sec           georgia

#### merge conference info with master_df

In [26]:
# make college column lowercase
master_df['college']=master_df['college'].str.lower()

In [27]:
# create merge table from master_df and team_conference
merge_table = pd.merge(
    master_df, team_conference,
    left_on='college', right_on='team_name_matched',
    how='left', suffixes=('_left', '_right')
)
merge_table.drop('team_name_matched', axis=1, inplace=True)
merge_table.drop('team_name', axis=1, inplace=True)

In [28]:
merge_table['conference_name'].value_counts(dropna=False)

conference_name
NaN                772
big ten            465
sec                427
pac-12             403
acc                395
big 12             208
aac                135
mountain west      110
fbs independent    103
mac                 58
sun belt            46
c-usa               37
Name: count, dtype: int64

In [29]:
master_df = merge_table.copy()

### csv export

In [30]:
master_df.to_csv('../data/cleaned/all_superbowl_winning_rosters_cleaned.csv', 
                 index=False)

In [31]:
master_df

,year,team,no.,player,age,position,games_played,games_started,weight,height,...,approx_value,drafted_(tm/rnd/pick/yr),player_additional,salary,drafted_team/undrafted,drafted_round,drafted_pick,drafted_year,positional_group,conference_name
0,2022,kansas,73.0,Nick Allegretti,26.0,G,17,3.0,310.0,6-4,...,3.0,Kansas City Chiefs / 7th / 216th pick / 2019,AlleNi00,NaN,Kansas City Chiefs,7th,216th pick,2019,offensive_line,big ten
1,2022,kansas,32.0,Ugo Amadi,25.0,S,1,0.0,201.0,5-9,...,0.0,Seattle Seahawks / 4th / 132nd pick / 2019,AmadUg00,NaN,Seattle Seahawks,4th,132nd pick,2019,defensive_backs,pac-12
2,2022,kansas,19.0,Matt Ammendola,26.0,K,2,0.0,195.0,5-9,...,0.0,Undrafted,AmmeMa00,NaN,Undrafted,None,None,None,special_teamers,big 12
3,2022,kansas,39.0,Zayne Anderson,25.0,DB,3,0.0,206.0,6-2,...,0.0,Undrafted,AndeZa02,NaN,Undrafted,None,None,None,defensive_backs,fbs independent
4,2022,kansas,81.0,Blake Bell,31.0,TE,3,1.0,252.0,6-6,...,0.0,San Francisco 49ers / 4th / 117th pick / 2015,BellBl00,NaN,San Francisco 49ers,4th,117th pick,2015,offensive_line,big 12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3154,1966,greenbay,63.0,Fuzzy Thurston,33.0,LG,12,12.0,247.0,6-1,...,6.0,Philadelphia Eagles / 5th / 54th pick / 1956,ThurFu20,NaN,Philadelphia Eagles,5th,54th pick,1956,offensive_line,NaN
3155,1966,greenbay,37.0,Phil Vandersea,23.0,LB,14,0.0,245.0,6-3,...,4.0,Denver Broncos / 9th / 65th pick / 1965 Green ...,VandPh20,NaN,Denver Broncos,9th,65th pick,1965 Green Bay Packers,linebacker,fbs independent
3156,1966,greenbay,73.0,Jim Weatherwax,23.0,DT,14,1.0,260.0,6-7,...,2.0,San Diego Chargers / 5th / 38th pick / 1965 Gr...,WeatJi22,NaN,San Diego Chargers,5th,38th pick,1965 Green Bay Packers,offensive_line,NaN
3157,1966,greenbay,24.0,Willie Wood,30.0,SS,14,14.0,190.0,5-10,...,12.0,Undrafted,WoodWi00,NaN,Undrafted,None,None,None,defensive_backs,pac-12
3158,1966,greenbay,72.0,Steve Wright,24.0,T,14,0.0,250.0,6-6,...,4.0,New York Jets / 8th / 59th pick / 1964 Green B...,WrigSt20,NaN,New York Jets,8th,59th pick,1964 Green Bay Packers,offensive_line,sec